/* TASK CARD */

.task-card-container.container {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 2px;
    height: fit-content;
    width: 90%;
    max-width: 700px;

    word-break: normal;

    background-color: var(--darkblue);
    border: 2px solid var(--lightgrey);
    border-radius: 10px;
    text-align: left;
}

.task-card-container h2 {
    color: white;
    text-decoration: none;
}

.task-card-container a {
    color: white;
}

.task-card-container a:hover {
    color: white;
}

.task-card-container h3 {
    color: rgb(138, 133, 133);
}

.task-card-container:hover {
    background-color: var(--lightblue);
    border-color: var(--darkblue);

    cursor: pointer;
}

.task-icon {
    height: 60px;
    padding-bottom: 10px;
}
