body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* MENU BAR */
.menu-bar {
  height: 120px;
}

.menu-links {
  flex-grow: 1;
  justify-content: end;
  font-size: 20px;
}

 /* HOME PAGE */
 .home-page {
  height: 100vh;
  width: 100vw;
 }

 .home-page-container-1 {
  padding-top: 160px;
  padding-bottom: 80px;
  height: fit-content;
  width: 100vw;
  background-image: url(../src/assets/hero-blob-scene.svg);
  background-size: cover;
 }

 .home-page-title {
  padding-bottom: 30px;
  color: white;
 }

 .home-page-subtitle {
  color: white;
 }